<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/diary_entry.css">
</head>
<body>
    <header class="container-fluid">
        <div class="row">
          <div class="col-xs-2">
            <img id="logo" src="/static/logo.PNG" alt="temp-logo"> 
          </div>
          <div class="col-xs-8">
            <h1><a href="main_page.html">beHeard</a></h1>
          </div>
        </div>
    </header>

    <p>to add: make public/private</p>

    <form>

      <p><input id="title" type="text" placeholder="title"></p>
    
      <p><input id="date" type="date"></p>
      
      <p class="text">
        <textarea name="text" id="comment" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
        deserunt mollit anim id est laborum.">
        </textarea>
      </p>

  </form>

</body>
</html>