<!DOCTYPE html>
<html lang="en">
<style>
  h1 {
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    padding-top: 10%;

  }

  .button-center {
    text-align: center;
  }
</style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diary</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles/diary_entry.css">
</head>

<body>
  <!-- <header class="container-fluid">
    <div class="row">
      <div class="col-xs-2">
        <img id="logo" src="/static/logo.PNG" alt="temp-logo">
      </div>
      <div class="col-xs-8">
        <h1><a href="main_page.html">beHeard</a></h1>
      </div>
    </div>
  </header> -->

  <button id="back"><a href="{{ url_for('diary') }}">Back</a></button>
  <h1>Would you prefer your diary in private or public mode?</h1>


  <form method=POST action="{{ url_for('upload') }}">

    <p><input name="title" id="title" type="text" placeholder="title"></p>

    <p><input name="date" id="date" type="date" placeholder="date"></p>

    <p class="text">
      <textarea name="text" id="comment" placeholder="content">
        </textarea>
    </p>

    <div class="button-center">
      <button type="submit" id="private" name="submitBtn" value="Private" style=" font-size: 20px;">Private</button>
      <button type="submit" id="public" name="submitBtn" value="Public" style=" font-size: 20px;">Public</button>
    </div>
  </form>

</body>

</html>